@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.flex {
  display: flex;
}

a {
  color: white;
  cursor: pointer;
}

p {
  word-break: normal;
  color: #606060;
}

.block {
  display: block;
}
